@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Black: #000;
  --Accent-1: #b6b6b6;
  --Important: #608ecc;
  --Important-Hover: #92b6df;
  --Important-Hover-2: #79a2d5;
  --Bleu-4: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 100%
    ),
    #accae9;
  --Lave: #e53811;

  --Background-White-1: #fff;
  --Backeground-White-2: #fcfcfc;
  --Background-Black: #242423;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
